<h3>Car list</h3>

@if (cars.length > 0) {
    @for (car of cars(); track car.id) {
        <div class="card mb-3 shdow-sm">
            <img [src]="car.previewImage"
            class="card-img-top"
            alt="">
            <div class="card-body">
                <h5 class="card-title">{{car.brand}}, {{car.model}}</h5>
                <p class="card-text text-muted">{{car.price | currency}} USD/ Day</p>
                <button class="btn btn-danger w-100" (click)="onDelete(car.id)">Delete</button>
            </div>
        </div>
    }

}@else {
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            An example danger alert with an icon
        </div>
    </div>
}